
<!--
Aaron Peressini
8/9/2017
CS 340
 -->
   
    <h1>MLB Database</h1>
    {{#each results}}
    <p>{{this.results}}</p>
    {{/each}}

	<table id="location"> <h2 id="location_title">LOCATIONS</h2> 
    		<tr id="location_header">
				<th>City</th>
				<th>State/Province</th>
				<th>Country</th>				
			</tr>
			{{#each locations}}
			<tr>
				<td>{{this.city}}</td>
				<td>{{this.state}}</td>
				<td>{{this.country}}</td>		
			</tr>
			{{/each}}
    </table>  
        <br>
    <form> <!-- action="/insert-location" method="POST" id="add_location_form"> -->
    <fieldset>
        <legend>ADD LOCATION</legend><br>
        City: <input type="text" id="add_location_city">  <!--form="add_location_form"--> 
        <br>State/Province: <!--<input type="text" id="add_state" value="OR">-->
            <select id="add_location_state">  <!--form="add_location_form"-->
                <option value="AL">Alabama</option>
                <option value="AK">Alaska</option>
                <option value="AZ">Arizona</option>
                <option value="AR">Arkansas</option>
                <option value="CA">California</option>
                <option value="CO">Colorado</option>
                <option value="CT">Connecticut</option>
                <option value="DE">Delaware</option>
                <option value="DC">District Of Columbia</option>
                <option value="FL">Florida</option>
                <option value="GA">Georgia</option>
                <option value="HI">Hawaii</option>
                <option value="ID">Idaho</option>
                <option value="IL">Illinois</option>
                <option value="IN">Indiana</option>
                <option value="IA">Iowa</option>
                <option value="KS">Kansas</option>
                <option value="KY">Kentucky</option>
                <option value="LA">Louisiana</option>
                <option value="ME">Maine</option>
                <option value="MD">Maryland</option>
                <option value="MA">Massachusetts</option>
                <option value="MI">Michigan</option>
                <option value="MN">Minnesota</option>
                <option value="MS">Mississippi</option>
                <option value="MO">Missouri</option>
                <option value="MT">Montana</option>
                <option value="NE">Nebraska</option>
                <option value="NV">Nevada</option>
                <option value="NH">New Hampshire</option>
                <option value="NJ">New Jersey</option>
                <option value="NM">New Mexico</option>
                <option value="NY">New York</option>
                <option value="NC">North Carolina</option>
                <option value="ND">North Dakota</option>
                <option value="OH">Ohio</option>
                <option value="OK">Oklahoma</option>
                <option value="OR">Oregon</option>
                <option value="PA">Pennsylvania</option>
                <option value="RI">Rhode Island</option>
                <option value="SC">South Carolina</option>
                <option value="SD">South Dakota</option>
                <option value="TN">Tennessee</option>
                <option value="TX">Texas</option>
                <option value="UT">Utah</option>
                <option value="VT">Vermont</option>
                <option value="VA">Virginia</option>
                <option value="WA">Washington</option>
                <option value="WV">West Virginia</option>
                <option value="WI">Wisconsin</option>
                <option value="WY">Wyoming</option>
                <option value="AB">Alberta</option>
                <option value="BC">British Columbia</option>
                <option value="MB">Manitoba</option>
                <option value="NB">New Brunswick</option>
                <option value="NL">Newfoundland and Labrador</option>
                <option value="NS">Nova Scotia</option>
                <option value="ON">Ontario</option>
                <option value="PE">Prince Edward Island</option>
                <option value="QC">Quebec</option>
                <option value="SK">Saskatchewan</option>
                <option value="NT">Northwest Territories</option>
                <option value="NU">Nunavut</option>
                <option value="YT">Yukon</option>
                <option value=''>NONE</option>
            </select>
        <br>Country: <!--<input type="text" id="add_country" value="USA">-->
            <select id="add_location_country">  <!--form="add_location_form"-->
                <option value="USA">United States</option>
                <option value="CAN">Canada</option>
                <option value="GBR">United Kingdom</option>
                <option value="AFG">Afghanistan</option>
                <option value="ALA">Åland Islands</option>
                <option value="ALB">Albania</option>
                <option value="DZA">Algeria</option>
                <option value="ASM">American Samoa</option>
                <option value="AND">Andorra</option>
                <option value="AGO">Angola</option>
                <option value="AIA">Anguilla</option>
                <option value="ATA">Antarctica</option>
                <option value="ATG">Antigua and Barbuda</option>
                <option value="ARG">Argentina</option>
                <option value="ARM">Armenia</option>
                <option value="ABW">Aruba</option>
                <option value="AUS">Australia</option>
                <option value="AUT">Austria</option>
                <option value="AZE">Azerbaijan</option>
                <option value="BHS">Bahamas</option>
                <option value="BHR">Bahrain</option>
                <option value="BGD">Bangladesh</option>
                <option value="BRB">Barbados</option>
                <option value="BLR">Belarus</option>
                <option value="BEL">Belgium</option>
                <option value="BLZ">Belize</option>
                <option value="BEN">Benin</option>
                <option value="BMU">Bermuda</option>
                <option value="BTN">Bhutan</option>
                <option value="BOL">Bolivia, Plurinational State of</option>
                <option value="BES">Bonaire, Sint Eustatius and Saba</option>
                <option value="BIH">Bosnia and Herzegovina</option>
                <option value="BWA">Botswana</option>
                <option value="BVT">Bouvet Island</option>
                <option value="BRA">Brazil</option>
                <option value="IOT">British Indian Ocean Territory</option>
                <option value="BRN">Brunei Darussalam</option>
                <option value="BGR">Bulgaria</option>
                <option value="BFA">Burkina Faso</option>
                <option value="BDI">Burundi</option>
                <option value="KHM">Cambodia</option>
                <option value="CMR">Cameroon</option>
                <option value="CPV">Cape Verde</option>
                <option value="CYM">Cayman Islands</option>
                <option value="CAF">Central African Republic</option>
                <option value="TCD">Chad</option>
                <option value="CHL">Chile</option>
                <option value="CHN">China</option>
                <option value="CXR">Christmas Island</option>
                <option value="CCK">Cocos (Keeling) Islands</option>
                <option value="COL">Colombia</option>
                <option value="COM">Comoros</option>
                <option value="COG">Congo</option>
                <option value="COD">Congo, the Democratic Republic of the</option>
                <option value="COK">Cook Islands</option>
                <option value="CRI">Costa Rica</option>
                <option value="CIV">Côte d'Ivoire</option>
                <option value="HRV">Croatia</option>
                <option value="CUB">Cuba</option>
                <option value="CUW">Curaçao</option>
                <option value="CYP">Cyprus</option>
                <option value="CZE">Czech Republic</option>
                <option value="DNK">Denmark</option>
                <option value="DJI">Djibouti</option>
                <option value="DMA">Dominica</option>
                <option value="DOM">Dominican Republic</option>
                <option value="ECU">Ecuador</option>
                <option value="EGY">Egypt</option>
                <option value="SLV">El Salvador</option>
                <option value="GNQ">Equatorial Guinea</option>
                <option value="ERI">Eritrea</option>
                <option value="EST">Estonia</option>
                <option value="ETH">Ethiopia</option>
                <option value="FLK">Falkland Islands (Malvinas)</option>
                <option value="FRO">Faroe Islands</option>
                <option value="FJI">Fiji</option>
                <option value="FIN">Finland</option>
                <option value="FRA">France</option>
                <option value="GUF">French Guiana</option>
                <option value="PYF">French Polynesia</option>
                <option value="ATF">French Southern Territories</option>
                <option value="GAB">Gabon</option>
                <option value="GMB">Gambia</option>
                <option value="GEO">Georgia</option>
                <option value="DEU">Germany</option>
                <option value="GHA">Ghana</option>
                <option value="GIB">Gibraltar</option>
                <option value="GRC">Greece</option>
                <option value="GRL">Greenland</option>
                <option value="GRD">Grenada</option>
                <option value="GLP">Guadeloupe</option>
                <option value="GUM">Guam</option>
                <option value="GTM">Guatemala</option>
                <option value="GGY">Guernsey</option>
                <option value="GIN">Guinea</option>
                <option value="GNB">Guinea-Bissau</option>
                <option value="GUY">Guyana</option>
                <option value="HTI">Haiti</option>
                <option value="HMD">Heard Island and McDonald Islands</option>
                <option value="VAT">Holy See (Vatican City State)</option>
                <option value="HND">Honduras</option>
                <option value="HKG">Hong Kong</option>
                <option value="HUN">Hungary</option>
                <option value="ISL">Iceland</option>
                <option value="IND">India</option>
                <option value="IDN">Indonesia</option>
                <option value="IRN">Iran, Islamic Republic of</option>
                <option value="IRQ">Iraq</option>
                <option value="IRL">Ireland</option>
                <option value="IMN">Isle of Man</option>
                <option value="ISR">Israel</option>
                <option value="ITA">Italy</option>
                <option value="JAM">Jamaica</option>
                <option value="JPN">Japan</option>
                <option value="JEY">Jersey</option>
                <option value="JOR">Jordan</option>
                <option value="KAZ">Kazakhstan</option>
                <option value="KEN">Kenya</option>
                <option value="KIR">Kiribati</option>
                <option value="PRK">Korea, Democratic People's Republic of</option>
                <option value="KOR">Korea, Republic of</option>
                <option value="KWT">Kuwait</option>
                <option value="KGZ">Kyrgyzstan</option>
                <option value="LAO">Lao People's Democratic Republic</option>
                <option value="LVA">Latvia</option>
                <option value="LBN">Lebanon</option>
                <option value="LSO">Lesotho</option>
                <option value="LBR">Liberia</option>
                <option value="LBY">Libya</option>
                <option value="LIE">Liechtenstein</option>
                <option value="LTU">Lithuania</option>
                <option value="LUX">Luxembourg</option>
                <option value="MAC">Macao</option>
                <option value="MKD">Macedonia, the former Yugoslav Republic of</option>
                <option value="MDG">Madagascar</option>
                <option value="MWI">Malawi</option>
                <option value="MYS">Malaysia</option>
                <option value="MDV">Maldives</option>
                <option value="MLI">Mali</option>
                <option value="MLT">Malta</option>
                <option value="MHL">Marshall Islands</option>
                <option value="MTQ">Martinique</option>
                <option value="MRT">Mauritania</option>
                <option value="MUS">Mauritius</option>
                <option value="MYT">Mayotte</option>
                <option value="MEX">Mexico</option>
                <option value="FSM">Micronesia, Federated States of</option>
                <option value="MDA">Moldova, Republic of</option>
                <option value="MCO">Monaco</option>
                <option value="MNG">Mongolia</option>
                <option value="MNE">Montenegro</option>
                <option value="MSR">Montserrat</option>
                <option value="MAR">Morocco</option>
                <option value="MOZ">Mozambique</option>
                <option value="MMR">Myanmar</option>
                <option value="NAM">Namibia</option>
                <option value="NRU">Nauru</option>
                <option value="NPL">Nepal</option>
                <option value="NLD">Netherlands</option>
                <option value="NCL">New Caledonia</option>
                <option value="NZL">New Zealand</option>
                <option value="NIC">Nicaragua</option>
                <option value="NER">Niger</option>
                <option value="NGA">Nigeria</option>
                <option value="NIU">Niue</option>
                <option value="NFK">Norfolk Island</option>
                <option value="MNP">Northern Mariana Islands</option>
                <option value="NOR">Norway</option>
                <option value="OMN">Oman</option>
                <option value="PAK">Pakistan</option>
                <option value="PLW">Palau</option>
                <option value="PSE">Palestinian Territory, Occupied</option>
                <option value="PAN">Panama</option>
                <option value="PNG">Papua New Guinea</option>
                <option value="PRY">Paraguay</option>
                <option value="PER">Peru</option>
                <option value="PHL">Philippines</option>
                <option value="PCN">Pitcairn</option>
                <option value="POL">Poland</option>
                <option value="PRT">Portugal</option>
                <option value="PRI">Puerto Rico</option>
                <option value="QAT">Qatar</option>
                <option value="REU">Réunion</option>
                <option value="ROU">Romania</option>
                <option value="RUS">Russian Federation</option>
                <option value="RWA">Rwanda</option>
                <option value="BLM">Saint Barthélemy</option>
                <option value="SHN">Saint Helena, Ascension and Tristan da Cunha</option>
                <option value="KNA">Saint Kitts and Nevis</option>
                <option value="LCA">Saint Lucia</option>
                <option value="MAF">Saint Martin (French part)</option>
                <option value="SPM">Saint Pierre and Miquelon</option>
                <option value="VCT">Saint Vincent and the Grenadines</option>
                <option value="WSM">Samoa</option>
                <option value="SMR">San Marino</option>
                <option value="STP">Sao Tome and Principe</option>
                <option value="SAU">Saudi Arabia</option>
                <option value="SEN">Senegal</option>
                <option value="SRB">Serbia</option>
                <option value="SYC">Seychelles</option>
                <option value="SLE">Sierra Leone</option>
                <option value="SGP">Singapore</option>
                <option value="SXM">Sint Maarten (Dutch part)</option>
                <option value="SVK">Slovakia</option>
                <option value="SVN">Slovenia</option>
                <option value="SLB">Solomon Islands</option>
                <option value="SOM">Somalia</option>
                <option value="ZAF">South Africa</option>
                <option value="SGS">South Georgia and the South Sandwich Islands</option>
                <option value="SSD">South Sudan</option>
                <option value="ESP">Spain</option>
                <option value="LKA">Sri Lanka</option>
                <option value="SDN">Sudan</option>
                <option value="SUR">Suriname</option>
                <option value="SJM">Svalbard and Jan Mayen</option>
                <option value="SWZ">Swaziland</option>
                <option value="SWE">Sweden</option>
                <option value="CHE">Switzerland</option>
                <option value="SYR">Syrian Arab Republic</option>
                <option value="TWN">Taiwan, Province of China</option>
                <option value="TJK">Tajikistan</option>
                <option value="TZA">Tanzania, United Republic of</option>
                <option value="THA">Thailand</option>
                <option value="TLS">Timor-Leste</option>
                <option value="TGO">Togo</option>
                <option value="TKL">Tokelau</option>
                <option value="TON">Tonga</option>
                <option value="TTO">Trinidad and Tobago</option>
                <option value="TUN">Tunisia</option>
                <option value="TUR">Turkey</option>
                <option value="TKM">Turkmenistan</option>
                <option value="TCA">Turks and Caicos Islands</option>
                <option value="TUV">Tuvalu</option>
                <option value="UGA">Uganda</option>
                <option value="UKR">Ukraine</option>
                <option value="ARE">United Arab Emirates</option>
                <option value="UMI">United States Minor Outlying Islands</option>
                <option value="URY">Uruguay</option>
                <option value="UZB">Uzbekistan</option>
                <option value="VUT">Vanuatu</option>
                <option value="VEN">Venezuela, Bolivarian Republic of</option>
                <option value="VNM">Viet Nam</option>
                <option value="VGB">Virgin Islands, British</option>
                <option value="VIR">Virgin Islands, U.S.</option>
                <option value="WLF">Wallis and Futuna</option>
                <option value="ESH">Western Sahara</option>
                <option value="YEM">Yemen</option>
                <option value="ZMB">Zambia</option>
                <option value="ZWE">Zimbabwe</option>
            </select>
        <!--<br>Date performed(yyyy-mm-dd): <input type="text" id="date" value="">
        <br><input type="radio" id="lbs" name="lbs" value=1> LB<br>
        <input type="radio" id="lbs" name="lbs" value=0> KG<br>-->
        <input type="submit" id="add_location_submit" value="Add Location">  <!--form="add_location_form"-->
    </fieldset>
    </form><br>


    <h2>TEAMS</h2>
    <b>Sort Teams By</b>
    <form id="teams_sort_form"> <!--method="GET" action="/?teams_order_by=">-->
        <select id="teams_sort_on" form="teams_sort_form" name="teams_order_by"> <!--value="team_id">-->
            <option value='team_id'> </option>
            <option value='team_name'>Name</option>
            <option value='stadium_name'>Stadium Name</option>
            <option value='league'>League</option>
            <option value='division'>Division</option>
            <option value='wins DESC'>Wins</option>
            <option value='losses DESC'>Losses</option>
        </select>
        <input type="submit" id="teams_sort_submit" form="teams_sort_form" value="Sort Teams">
    </form>
    <table id="team">  
        <br>
			<tr id="team_header">
				<th>Name</th>
				<th>Stadium Name</th>
				<th>League</th>
                <th>Division</th>
                <th>Wins</th>
                <th>Losses</th>
                <th>Mascot</th>
                <th>Location</th>
			</tr>
			{{#each teams}}
			<tr>
				<td>{{this.team_name}}</td>
				<td>{{this.stadium_name}}</td>
				<td>{{this.league}}</td>
                <td>{{this.division}}</td>
                <td>{{this.wins}}</td>
                <td>{{this.losses}}</td>
                <td>{{this.mascot}}</td>
                <td>{{this.city}}, {{this.state}} {{this.country}}</td>	
               <!-- <td>
                    <form id="delete_team_{{this.team_id}}" method="POST" action="/delete-team">
                        <input type="submit" form="delete_team_{{this.team_id}}" id="delete_team_submit_{{this.team_id}}" value="Delete {{this.team_name}}">
                        <input type="hidden" name="team_id" value={{this.team_id}} form="delete_team_{{this.team_id}}">
                    </form>
                </td>
			</tr>-->
            {{/each}}
    </table>
    <br>
    <form id="add_team_form">
    <fieldset>
        <legend>ADD TEAM</legend>
        <br>Name: <input type="text" id="add_team_name">
        <br>Stadium Name: <input type="text" id="add_team_stadium_name">
        <br>League: 
            <select id="add_team_league" form="add_team_form" name="league">
                <option value='American League'>American League</option>
                <option value='National League'>National League</option>
            </select>
        <br>Division: 
            <select id="add_team_division" form="add_team_form" name="division">
                <option value='West'>West</option>
                <option value='Central'>Central</option>
                <option value='East'>East</option>
            </select>
        <br>Wins: <input type="number" id="add_team_wins">
        <br>Losses: <input type="number" id="add_team_losses">
        <br>Mascot: <input type="text" id="add_team_mascot">
        <br><br><b>Location</b><br>
            City: <input type="text" id="add_team_city" value="Portland">
        <br>State/Province: <!--<input type="text" id="add_state" value="OR">-->
            <select id="add_team_state">
                <option value="AL">Alabama</option>
                <option value="AK">Alaska</option>
                <option value="AZ">Arizona</option>
                <option value="AR">Arkansas</option>
                <option value="CA">California</option>
                <option value="CO">Colorado</option>
                <option value="CT">Connecticut</option>
                <option value="DE">Delaware</option>
                <option value="DC">District Of Columbia</option>
                <option value="FL">Florida</option>
                <option value="GA">Georgia</option>
                <option value="HI">Hawaii</option>
                <option value="ID">Idaho</option>
                <option value="IL">Illinois</option>
                <option value="IN">Indiana</option>
                <option value="IA">Iowa</option>
                <option value="KS">Kansas</option>
                <option value="KY">Kentucky</option>
                <option value="LA">Louisiana</option>
                <option value="ME">Maine</option>
                <option value="MD">Maryland</option>
                <option value="MA">Massachusetts</option>
                <option value="MI">Michigan</option>
                <option value="MN">Minnesota</option>
                <option value="MS">Mississippi</option>
                <option value="MO">Missouri</option>
                <option value="MT">Montana</option>
                <option value="NE">Nebraska</option>
                <option value="NV">Nevada</option>
                <option value="NH">New Hampshire</option>
                <option value="NJ">New Jersey</option>
                <option value="NM">New Mexico</option>
                <option value="NY">New York</option>
                <option value="NC">North Carolina</option>
                <option value="ND">North Dakota</option>
                <option value="OH">Ohio</option>
                <option value="OK">Oklahoma</option>
                <option value="OR">Oregon</option>
                <option value="PA">Pennsylvania</option>
                <option value="RI">Rhode Island</option>
                <option value="SC">South Carolina</option>
                <option value="SD">South Dakota</option>
                <option value="TN">Tennessee</option>
                <option value="TX">Texas</option>
                <option value="UT">Utah</option>
                <option value="VT">Vermont</option>
                <option value="VA">Virginia</option>
                <option value="WA">Washington</option>
                <option value="WV">West Virginia</option>
                <option value="WI">Wisconsin</option>
                <option value="WY">Wyoming</option>
                <option value="AB">Alberta</option>
                <option value="BC">British Columbia</option>
                <option value="MB">Manitoba</option>
                <option value="NB">New Brunswick</option>
                <option value="NL">Newfoundland and Labrador</option>
                <option value="NS">Nova Scotia</option>
                <option value="ON">Ontario</option>
                <option value="PE">Prince Edward Island</option>
                <option value="QC">Quebec</option>
                <option value="SK">Saskatchewan</option>
                <option value="NT">Northwest Territories</option>
                <option value="NU">Nunavut</option>
                <option value="YT">Yukon</option>
                <option value=''>NONE</option>
            </select>
        <br>Country: <!--<input type="text" id="add_country" value="USA">-->
            <select id="add_team_country">
                <option value="USA">United States</option>
                <option value="CAN">Canada</option>
                <option value="GBR">United Kingdom</option>
                <option value="AFG">Afghanistan</option>
                <option value="ALA">Åland Islands</option>
                <option value="ALB">Albania</option>
                <option value="DZA">Algeria</option>
                <option value="ASM">American Samoa</option>
                <option value="AND">Andorra</option>
                <option value="AGO">Angola</option>
                <option value="AIA">Anguilla</option>
                <option value="ATA">Antarctica</option>
                <option value="ATG">Antigua and Barbuda</option>
                <option value="ARG">Argentina</option>
                <option value="ARM">Armenia</option>
                <option value="ABW">Aruba</option>
                <option value="AUS">Australia</option>
                <option value="AUT">Austria</option>
                <option value="AZE">Azerbaijan</option>
                <option value="BHS">Bahamas</option>
                <option value="BHR">Bahrain</option>
                <option value="BGD">Bangladesh</option>
                <option value="BRB">Barbados</option>
                <option value="BLR">Belarus</option>
                <option value="BEL">Belgium</option>
                <option value="BLZ">Belize</option>
                <option value="BEN">Benin</option>
                <option value="BMU">Bermuda</option>
                <option value="BTN">Bhutan</option>
                <option value="BOL">Bolivia, Plurinational State of</option>
                <option value="BES">Bonaire, Sint Eustatius and Saba</option>
                <option value="BIH">Bosnia and Herzegovina</option>
                <option value="BWA">Botswana</option>
                <option value="BVT">Bouvet Island</option>
                <option value="BRA">Brazil</option>
                <option value="IOT">British Indian Ocean Territory</option>
                <option value="BRN">Brunei Darussalam</option>
                <option value="BGR">Bulgaria</option>
                <option value="BFA">Burkina Faso</option>
                <option value="BDI">Burundi</option>
                <option value="KHM">Cambodia</option>
                <option value="CMR">Cameroon</option>
                <option value="CPV">Cape Verde</option>
                <option value="CYM">Cayman Islands</option>
                <option value="CAF">Central African Republic</option>
                <option value="TCD">Chad</option>
                <option value="CHL">Chile</option>
                <option value="CHN">China</option>
                <option value="CXR">Christmas Island</option>
                <option value="CCK">Cocos (Keeling) Islands</option>
                <option value="COL">Colombia</option>
                <option value="COM">Comoros</option>
                <option value="COG">Congo</option>
                <option value="COD">Congo, the Democratic Republic of the</option>
                <option value="COK">Cook Islands</option>
                <option value="CRI">Costa Rica</option>
                <option value="CIV">Côte d'Ivoire</option>
                <option value="HRV">Croatia</option>
                <option value="CUB">Cuba</option>
                <option value="CUW">Curaçao</option>
                <option value="CYP">Cyprus</option>
                <option value="CZE">Czech Republic</option>
                <option value="DNK">Denmark</option>
                <option value="DJI">Djibouti</option>
                <option value="DMA">Dominica</option>
                <option value="DOM">Dominican Republic</option>
                <option value="ECU">Ecuador</option>
                <option value="EGY">Egypt</option>
                <option value="SLV">El Salvador</option>
                <option value="GNQ">Equatorial Guinea</option>
                <option value="ERI">Eritrea</option>
                <option value="EST">Estonia</option>
                <option value="ETH">Ethiopia</option>
                <option value="FLK">Falkland Islands (Malvinas)</option>
                <option value="FRO">Faroe Islands</option>
                <option value="FJI">Fiji</option>
                <option value="FIN">Finland</option>
                <option value="FRA">France</option>
                <option value="GUF">French Guiana</option>
                <option value="PYF">French Polynesia</option>
                <option value="ATF">French Southern Territories</option>
                <option value="GAB">Gabon</option>
                <option value="GMB">Gambia</option>
                <option value="GEO">Georgia</option>
                <option value="DEU">Germany</option>
                <option value="GHA">Ghana</option>
                <option value="GIB">Gibraltar</option>
                <option value="GRC">Greece</option>
                <option value="GRL">Greenland</option>
                <option value="GRD">Grenada</option>
                <option value="GLP">Guadeloupe</option>
                <option value="GUM">Guam</option>
                <option value="GTM">Guatemala</option>
                <option value="GGY">Guernsey</option>
                <option value="GIN">Guinea</option>
                <option value="GNB">Guinea-Bissau</option>
                <option value="GUY">Guyana</option>
                <option value="HTI">Haiti</option>
                <option value="HMD">Heard Island and McDonald Islands</option>
                <option value="VAT">Holy See (Vatican City State)</option>
                <option value="HND">Honduras</option>
                <option value="HKG">Hong Kong</option>
                <option value="HUN">Hungary</option>
                <option value="ISL">Iceland</option>
                <option value="IND">India</option>
                <option value="IDN">Indonesia</option>
                <option value="IRN">Iran, Islamic Republic of</option>
                <option value="IRQ">Iraq</option>
                <option value="IRL">Ireland</option>
                <option value="IMN">Isle of Man</option>
                <option value="ISR">Israel</option>
                <option value="ITA">Italy</option>
                <option value="JAM">Jamaica</option>
                <option value="JPN">Japan</option>
                <option value="JEY">Jersey</option>
                <option value="JOR">Jordan</option>
                <option value="KAZ">Kazakhstan</option>
                <option value="KEN">Kenya</option>
                <option value="KIR">Kiribati</option>
                <option value="PRK">Korea, Democratic People's Republic of</option>
                <option value="KOR">Korea, Republic of</option>
                <option value="KWT">Kuwait</option>
                <option value="KGZ">Kyrgyzstan</option>
                <option value="LAO">Lao People's Democratic Republic</option>
                <option value="LVA">Latvia</option>
                <option value="LBN">Lebanon</option>
                <option value="LSO">Lesotho</option>
                <option value="LBR">Liberia</option>
                <option value="LBY">Libya</option>
                <option value="LIE">Liechtenstein</option>
                <option value="LTU">Lithuania</option>
                <option value="LUX">Luxembourg</option>
                <option value="MAC">Macao</option>
                <option value="MKD">Macedonia, the former Yugoslav Republic of</option>
                <option value="MDG">Madagascar</option>
                <option value="MWI">Malawi</option>
                <option value="MYS">Malaysia</option>
                <option value="MDV">Maldives</option>
                <option value="MLI">Mali</option>
                <option value="MLT">Malta</option>
                <option value="MHL">Marshall Islands</option>
                <option value="MTQ">Martinique</option>
                <option value="MRT">Mauritania</option>
                <option value="MUS">Mauritius</option>
                <option value="MYT">Mayotte</option>
                <option value="MEX">Mexico</option>
                <option value="FSM">Micronesia, Federated States of</option>
                <option value="MDA">Moldova, Republic of</option>
                <option value="MCO">Monaco</option>
                <option value="MNG">Mongolia</option>
                <option value="MNE">Montenegro</option>
                <option value="MSR">Montserrat</option>
                <option value="MAR">Morocco</option>
                <option value="MOZ">Mozambique</option>
                <option value="MMR">Myanmar</option>
                <option value="NAM">Namibia</option>
                <option value="NRU">Nauru</option>
                <option value="NPL">Nepal</option>
                <option value="NLD">Netherlands</option>
                <option value="NCL">New Caledonia</option>
                <option value="NZL">New Zealand</option>
                <option value="NIC">Nicaragua</option>
                <option value="NER">Niger</option>
                <option value="NGA">Nigeria</option>
                <option value="NIU">Niue</option>
                <option value="NFK">Norfolk Island</option>
                <option value="MNP">Northern Mariana Islands</option>
                <option value="NOR">Norway</option>
                <option value="OMN">Oman</option>
                <option value="PAK">Pakistan</option>
                <option value="PLW">Palau</option>
                <option value="PSE">Palestinian Territory, Occupied</option>
                <option value="PAN">Panama</option>
                <option value="PNG">Papua New Guinea</option>
                <option value="PRY">Paraguay</option>
                <option value="PER">Peru</option>
                <option value="PHL">Philippines</option>
                <option value="PCN">Pitcairn</option>
                <option value="POL">Poland</option>
                <option value="PRT">Portugal</option>
                <option value="PRI">Puerto Rico</option>
                <option value="QAT">Qatar</option>
                <option value="REU">Réunion</option>
                <option value="ROU">Romania</option>
                <option value="RUS">Russian Federation</option>
                <option value="RWA">Rwanda</option>
                <option value="BLM">Saint Barthélemy</option>
                <option value="SHN">Saint Helena, Ascension and Tristan da Cunha</option>
                <option value="KNA">Saint Kitts and Nevis</option>
                <option value="LCA">Saint Lucia</option>
                <option value="MAF">Saint Martin (French part)</option>
                <option value="SPM">Saint Pierre and Miquelon</option>
                <option value="VCT">Saint Vincent and the Grenadines</option>
                <option value="WSM">Samoa</option>
                <option value="SMR">San Marino</option>
                <option value="STP">Sao Tome and Principe</option>
                <option value="SAU">Saudi Arabia</option>
                <option value="SEN">Senegal</option>
                <option value="SRB">Serbia</option>
                <option value="SYC">Seychelles</option>
                <option value="SLE">Sierra Leone</option>
                <option value="SGP">Singapore</option>
                <option value="SXM">Sint Maarten (Dutch part)</option>
                <option value="SVK">Slovakia</option>
                <option value="SVN">Slovenia</option>
                <option value="SLB">Solomon Islands</option>
                <option value="SOM">Somalia</option>
                <option value="ZAF">South Africa</option>
                <option value="SGS">South Georgia and the South Sandwich Islands</option>
                <option value="SSD">South Sudan</option>
                <option value="ESP">Spain</option>
                <option value="LKA">Sri Lanka</option>
                <option value="SDN">Sudan</option>
                <option value="SUR">Suriname</option>
                <option value="SJM">Svalbard and Jan Mayen</option>
                <option value="SWZ">Swaziland</option>
                <option value="SWE">Sweden</option>
                <option value="CHE">Switzerland</option>
                <option value="SYR">Syrian Arab Republic</option>
                <option value="TWN">Taiwan, Province of China</option>
                <option value="TJK">Tajikistan</option>
                <option value="TZA">Tanzania, United Republic of</option>
                <option value="THA">Thailand</option>
                <option value="TLS">Timor-Leste</option>
                <option value="TGO">Togo</option>
                <option value="TKL">Tokelau</option>
                <option value="TON">Tonga</option>
                <option value="TTO">Trinidad and Tobago</option>
                <option value="TUN">Tunisia</option>
                <option value="TUR">Turkey</option>
                <option value="TKM">Turkmenistan</option>
                <option value="TCA">Turks and Caicos Islands</option>
                <option value="TUV">Tuvalu</option>
                <option value="UGA">Uganda</option>
                <option value="UKR">Ukraine</option>
                <option value="ARE">United Arab Emirates</option>
                <option value="UMI">United States Minor Outlying Islands</option>
                <option value="URY">Uruguay</option>
                <option value="UZB">Uzbekistan</option>
                <option value="VUT">Vanuatu</option>
                <option value="VEN">Venezuela, Bolivarian Republic of</option>
                <option value="VNM">Viet Nam</option>
                <option value="VGB">Virgin Islands, British</option>
                <option value="VIR">Virgin Islands, U.S.</option>
                <option value="WLF">Wallis and Futuna</option>
                <option value="ESH">Western Sahara</option>
                <option value="YEM">Yemen</option>
                <option value="ZMB">Zambia</option>
                <option value="ZWE">Zimbabwe</option>
            </select>
        <input type="submit" id="add_team_submit" value="Add Team">
    </fieldset>
    </form><br>
    <table id="player"> <h2>PLAYERS</h2> 
        	<tr id="player_header">
				<th>Name</th>
				<th>DOB</th>
				<th>Position</th>
                <th>#</th>
                <th>Bats</th>
                <th>Throws</th>
                <th>Team</th>
                <th>Hometown</th>                
			</tr>
			{{#each players}}
			<tr>
				<td>{{this.first_name}} {{this.last_name}}</td>
				<td name='dob'>{{this.dob}}</td>
				<td>{{this.position}}</td>
                <td>{{this.uni_num}}</td>
                <td>{{this.bats}}</td>
                <td>{{this.throws}}</td>
                <td>{{this.team_name}}</td>
                <td>{{this.city}}, {{this.state}} {{this.country}}</td>	
			</tr>
			{{/each}}
    </table>  
    <br>
    <form id="add_player_form" action="/insert-player" method="POST"> <!-- NEED TO UPDATE FORM INPUT NAMES  -->
        <fieldset>
        <legend>ADD PLAYER</legend>
        <br>First Name: <input type="text" id="add_player_first_name" name="first_name" form="add_player_form" value="">
        <br>Last Name: <input type="text" id="add_player_last_name" name="last_name" form="add_player_form" value="">
        <br>DOB (YYYY-MM-DD): <input type="text" id="add_player_dob" name="dob" form="add_player_form" value="2017-05-17">
        <br>Position:
             <select id="add_player_position" name="position" form="add_player_form">
                 <option value="P">Pitcher</option>
                 <option value="C">Catcher</option>
                 <option value="1B">First Base</option>
                 <option value="2B">Second Base</option>
                 <option value="3B">Third Base</option>
                 <option value="SS">Shortstop</option>
                 <option value="LF">Left Field</option>
                 <option value="CF">Center Field</option>
                 <option value="RF">Right Field</option>
                 <option value="DH">Designated Hitter</option>
            </select>
        <br>Uniform Number: <input type="number" id="add_player_uni_num" name="uni_num" form="add_player_form" value="">
        <br>Bats: 
            <select id="add_player_bats" name="bats" form="add_player_form">
                 <option value="Right">Right</option>
                 <option value="Left">Left</option>
                 <option value="Switch">Switch</option>
            </select>
        <br>Throws: 
            <select id="add_player_throws" name="throws" form="add_player_form">
                 <option value="Right">Right</option>
                 <option value="Left">Left</option>
                 <option value="Ambidextrous">Ambidextrous</option>
            </select>
        <br><br><b>Hometown</b><br>
            City: <input type="text" id="add_player_city" name="city" form="add_player_form" value="Portland">
        <br>State/Province: <!--<input type="text" id="add_state" value="OR">-->
            <select id="add_player_state" name="state" form="add_player_form">
                <option value="AL">Alabama</option>
                <option value="AK">Alaska</option>
                <option value="AZ">Arizona</option>
                <option value="AR">Arkansas</option>
                <option value="CA">California</option>
                <option value="CO">Colorado</option>
                <option value="CT">Connecticut</option>
                <option value="DE">Delaware</option>
                <option value="DC">District Of Columbia</option>
                <option value="FL">Florida</option>
                <option value="GA">Georgia</option>
                <option value="HI">Hawaii</option>
                <option value="ID">Idaho</option>
                <option value="IL">Illinois</option>
                <option value="IN">Indiana</option>
                <option value="IA">Iowa</option>
                <option value="KS">Kansas</option>
                <option value="KY">Kentucky</option>
                <option value="LA">Louisiana</option>
                <option value="ME">Maine</option>
                <option value="MD">Maryland</option>
                <option value="MA">Massachusetts</option>
                <option value="MI">Michigan</option>
                <option value="MN">Minnesota</option>
                <option value="MS">Mississippi</option>
                <option value="MO">Missouri</option>
                <option value="MT">Montana</option>
                <option value="NE">Nebraska</option>
                <option value="NV">Nevada</option>
                <option value="NH">New Hampshire</option>
                <option value="NJ">New Jersey</option>
                <option value="NM">New Mexico</option>
                <option value="NY">New York</option>
                <option value="NC">North Carolina</option>
                <option value="ND">North Dakota</option>
                <option value="OH">Ohio</option>
                <option value="OK">Oklahoma</option>
                <option value="OR">Oregon</option>
                <option value="PA">Pennsylvania</option>
                <option value="RI">Rhode Island</option>
                <option value="SC">South Carolina</option>
                <option value="SD">South Dakota</option>
                <option value="TN">Tennessee</option>
                <option value="TX">Texas</option>
                <option value="UT">Utah</option>
                <option value="VT">Vermont</option>
                <option value="VA">Virginia</option>
                <option value="WA">Washington</option>
                <option value="WV">West Virginia</option>
                <option value="WI">Wisconsin</option>
                <option value="WY">Wyoming</option>
                <option value="AB">Alberta</option>
                <option value="BC">British Columbia</option>
                <option value="MB">Manitoba</option>
                <option value="NB">New Brunswick</option>
                <option value="NL">Newfoundland and Labrador</option>
                <option value="NS">Nova Scotia</option>
                <option value="ON">Ontario</option>
                <option value="PE">Prince Edward Island</option>
                <option value="QC">Quebec</option>
                <option value="SK">Saskatchewan</option>
                <option value="NT">Northwest Territories</option>
                <option value="NU">Nunavut</option>
                <option value="YT">Yukon</option>
                <option value=''>NONE</option>
            </select>
        <br>Country: <!--<input type="text" id="add_country" value="USA">-->
            <select id="add_player_country" name="country" form="add_player_form">
                <option value="USA">United States</option>
                <option value="CAN">Canada</option>
                <option value="GBR">United Kingdom</option>
                <option value="AFG">Afghanistan</option>
                <option value="ALA">Åland Islands</option>
                <option value="ALB">Albania</option>
                <option value="DZA">Algeria</option>
                <option value="ASM">American Samoa</option>
                <option value="AND">Andorra</option>
                <option value="AGO">Angola</option>
                <option value="AIA">Anguilla</option>
                <option value="ATA">Antarctica</option>
                <option value="ATG">Antigua and Barbuda</option>
                <option value="ARG">Argentina</option>
                <option value="ARM">Armenia</option>
                <option value="ABW">Aruba</option>
                <option value="AUS">Australia</option>
                <option value="AUT">Austria</option>
                <option value="AZE">Azerbaijan</option>
                <option value="BHS">Bahamas</option>
                <option value="BHR">Bahrain</option>
                <option value="BGD">Bangladesh</option>
                <option value="BRB">Barbados</option>
                <option value="BLR">Belarus</option>
                <option value="BEL">Belgium</option>
                <option value="BLZ">Belize</option>
                <option value="BEN">Benin</option>
                <option value="BMU">Bermuda</option>
                <option value="BTN">Bhutan</option>
                <option value="BOL">Bolivia, Plurinational State of</option>
                <option value="BES">Bonaire, Sint Eustatius and Saba</option>
                <option value="BIH">Bosnia and Herzegovina</option>
                <option value="BWA">Botswana</option>
                <option value="BVT">Bouvet Island</option>
                <option value="BRA">Brazil</option>
                <option value="IOT">British Indian Ocean Territory</option>
                <option value="BRN">Brunei Darussalam</option>
                <option value="BGR">Bulgaria</option>
                <option value="BFA">Burkina Faso</option>
                <option value="BDI">Burundi</option>
                <option value="KHM">Cambodia</option>
                <option value="CMR">Cameroon</option>
                <option value="CPV">Cape Verde</option>
                <option value="CYM">Cayman Islands</option>
                <option value="CAF">Central African Republic</option>
                <option value="TCD">Chad</option>
                <option value="CHL">Chile</option>
                <option value="CHN">China</option>
                <option value="CXR">Christmas Island</option>
                <option value="CCK">Cocos (Keeling) Islands</option>
                <option value="COL">Colombia</option>
                <option value="COM">Comoros</option>
                <option value="COG">Congo</option>
                <option value="COD">Congo, the Democratic Republic of the</option>
                <option value="COK">Cook Islands</option>
                <option value="CRI">Costa Rica</option>
                <option value="CIV">Côte d'Ivoire</option>
                <option value="HRV">Croatia</option>
                <option value="CUB">Cuba</option>
                <option value="CUW">Curaçao</option>
                <option value="CYP">Cyprus</option>
                <option value="CZE">Czech Republic</option>
                <option value="DNK">Denmark</option>
                <option value="DJI">Djibouti</option>
                <option value="DMA">Dominica</option>
                <option value="DOM">Dominican Republic</option>
                <option value="ECU">Ecuador</option>
                <option value="EGY">Egypt</option>
                <option value="SLV">El Salvador</option>
                <option value="GNQ">Equatorial Guinea</option>
                <option value="ERI">Eritrea</option>
                <option value="EST">Estonia</option>
                <option value="ETH">Ethiopia</option>
                <option value="FLK">Falkland Islands (Malvinas)</option>
                <option value="FRO">Faroe Islands</option>
                <option value="FJI">Fiji</option>
                <option value="FIN">Finland</option>
                <option value="FRA">France</option>
                <option value="GUF">French Guiana</option>
                <option value="PYF">French Polynesia</option>
                <option value="ATF">French Southern Territories</option>
                <option value="GAB">Gabon</option>
                <option value="GMB">Gambia</option>
                <option value="GEO">Georgia</option>
                <option value="DEU">Germany</option>
                <option value="GHA">Ghana</option>
                <option value="GIB">Gibraltar</option>
                <option value="GRC">Greece</option>
                <option value="GRL">Greenland</option>
                <option value="GRD">Grenada</option>
                <option value="GLP">Guadeloupe</option>
                <option value="GUM">Guam</option>
                <option value="GTM">Guatemala</option>
                <option value="GGY">Guernsey</option>
                <option value="GIN">Guinea</option>
                <option value="GNB">Guinea-Bissau</option>
                <option value="GUY">Guyana</option>
                <option value="HTI">Haiti</option>
                <option value="HMD">Heard Island and McDonald Islands</option>
                <option value="VAT">Holy See (Vatican City State)</option>
                <option value="HND">Honduras</option>
                <option value="HKG">Hong Kong</option>
                <option value="HUN">Hungary</option>
                <option value="ISL">Iceland</option>
                <option value="IND">India</option>
                <option value="IDN">Indonesia</option>
                <option value="IRN">Iran, Islamic Republic of</option>
                <option value="IRQ">Iraq</option>
                <option value="IRL">Ireland</option>
                <option value="IMN">Isle of Man</option>
                <option value="ISR">Israel</option>
                <option value="ITA">Italy</option>
                <option value="JAM">Jamaica</option>
                <option value="JPN">Japan</option>
                <option value="JEY">Jersey</option>
                <option value="JOR">Jordan</option>
                <option value="KAZ">Kazakhstan</option>
                <option value="KEN">Kenya</option>
                <option value="KIR">Kiribati</option>
                <option value="PRK">Korea, Democratic People's Republic of</option>
                <option value="KOR">Korea, Republic of</option>
                <option value="KWT">Kuwait</option>
                <option value="KGZ">Kyrgyzstan</option>
                <option value="LAO">Lao People's Democratic Republic</option>
                <option value="LVA">Latvia</option>
                <option value="LBN">Lebanon</option>
                <option value="LSO">Lesotho</option>
                <option value="LBR">Liberia</option>
                <option value="LBY">Libya</option>
                <option value="LIE">Liechtenstein</option>
                <option value="LTU">Lithuania</option>
                <option value="LUX">Luxembourg</option>
                <option value="MAC">Macao</option>
                <option value="MKD">Macedonia, the former Yugoslav Republic of</option>
                <option value="MDG">Madagascar</option>
                <option value="MWI">Malawi</option>
                <option value="MYS">Malaysia</option>
                <option value="MDV">Maldives</option>
                <option value="MLI">Mali</option>
                <option value="MLT">Malta</option>
                <option value="MHL">Marshall Islands</option>
                <option value="MTQ">Martinique</option>
                <option value="MRT">Mauritania</option>
                <option value="MUS">Mauritius</option>
                <option value="MYT">Mayotte</option>
                <option value="MEX">Mexico</option>
                <option value="FSM">Micronesia, Federated States of</option>
                <option value="MDA">Moldova, Republic of</option>
                <option value="MCO">Monaco</option>
                <option value="MNG">Mongolia</option>
                <option value="MNE">Montenegro</option>
                <option value="MSR">Montserrat</option>
                <option value="MAR">Morocco</option>
                <option value="MOZ">Mozambique</option>
                <option value="MMR">Myanmar</option>
                <option value="NAM">Namibia</option>
                <option value="NRU">Nauru</option>
                <option value="NPL">Nepal</option>
                <option value="NLD">Netherlands</option>
                <option value="NCL">New Caledonia</option>
                <option value="NZL">New Zealand</option>
                <option value="NIC">Nicaragua</option>
                <option value="NER">Niger</option>
                <option value="NGA">Nigeria</option>
                <option value="NIU">Niue</option>
                <option value="NFK">Norfolk Island</option>
                <option value="MNP">Northern Mariana Islands</option>
                <option value="NOR">Norway</option>
                <option value="OMN">Oman</option>
                <option value="PAK">Pakistan</option>
                <option value="PLW">Palau</option>
                <option value="PSE">Palestinian Territory, Occupied</option>
                <option value="PAN">Panama</option>
                <option value="PNG">Papua New Guinea</option>
                <option value="PRY">Paraguay</option>
                <option value="PER">Peru</option>
                <option value="PHL">Philippines</option>
                <option value="PCN">Pitcairn</option>
                <option value="POL">Poland</option>
                <option value="PRT">Portugal</option>
                <option value="PRI">Puerto Rico</option>
                <option value="QAT">Qatar</option>
                <option value="REU">Réunion</option>
                <option value="ROU">Romania</option>
                <option value="RUS">Russian Federation</option>
                <option value="RWA">Rwanda</option>
                <option value="BLM">Saint Barthélemy</option>
                <option value="SHN">Saint Helena, Ascension and Tristan da Cunha</option>
                <option value="KNA">Saint Kitts and Nevis</option>
                <option value="LCA">Saint Lucia</option>
                <option value="MAF">Saint Martin (French part)</option>
                <option value="SPM">Saint Pierre and Miquelon</option>
                <option value="VCT">Saint Vincent and the Grenadines</option>
                <option value="WSM">Samoa</option>
                <option value="SMR">San Marino</option>
                <option value="STP">Sao Tome and Principe</option>
                <option value="SAU">Saudi Arabia</option>
                <option value="SEN">Senegal</option>
                <option value="SRB">Serbia</option>
                <option value="SYC">Seychelles</option>
                <option value="SLE">Sierra Leone</option>
                <option value="SGP">Singapore</option>
                <option value="SXM">Sint Maarten (Dutch part)</option>
                <option value="SVK">Slovakia</option>
                <option value="SVN">Slovenia</option>
                <option value="SLB">Solomon Islands</option>
                <option value="SOM">Somalia</option>
                <option value="ZAF">South Africa</option>
                <option value="SGS">South Georgia and the South Sandwich Islands</option>
                <option value="SSD">South Sudan</option>
                <option value="ESP">Spain</option>
                <option value="LKA">Sri Lanka</option>
                <option value="SDN">Sudan</option>
                <option value="SUR">Suriname</option>
                <option value="SJM">Svalbard and Jan Mayen</option>
                <option value="SWZ">Swaziland</option>
                <option value="SWE">Sweden</option>
                <option value="CHE">Switzerland</option>
                <option value="SYR">Syrian Arab Republic</option>
                <option value="TWN">Taiwan, Province of China</option>
                <option value="TJK">Tajikistan</option>
                <option value="TZA">Tanzania, United Republic of</option>
                <option value="THA">Thailand</option>
                <option value="TLS">Timor-Leste</option>
                <option value="TGO">Togo</option>
                <option value="TKL">Tokelau</option>
                <option value="TON">Tonga</option>
                <option value="TTO">Trinidad and Tobago</option>
                <option value="TUN">Tunisia</option>
                <option value="TUR">Turkey</option>
                <option value="TKM">Turkmenistan</option>
                <option value="TCA">Turks and Caicos Islands</option>
                <option value="TUV">Tuvalu</option>
                <option value="UGA">Uganda</option>
                <option value="UKR">Ukraine</option>
                <option value="ARE">United Arab Emirates</option>
                <option value="UMI">United States Minor Outlying Islands</option>
                <option value="URY">Uruguay</option>
                <option value="UZB">Uzbekistan</option>
                <option value="VUT">Vanuatu</option>
                <option value="VEN">Venezuela, Bolivarian Republic of</option>
                <option value="VNM">Viet Nam</option>
                <option value="VGB">Virgin Islands, British</option>
                <option value="VIR">Virgin Islands, U.S.</option>
                <option value="WLF">Wallis and Futuna</option>
                <option value="ESH">Western Sahara</option>
                <option value="YEM">Yemen</option>
                <option value="ZMB">Zambia</option>
                <option value="ZWE">Zimbabwe</option>
            </select>
        <br><br><b>Team:</b> <!--<input type="text" list="add_player_team" data-value=0>-->
            <select id="add_player_team_id" name="team_id" form="add_player_form">
                {{#each teams}}
                <option value={{this.team_id}}>{{this.team_name}}</option>
                {{/each}}
            </select>
        <br>
        <input type="submit" id="add_player_form_submit" form="add_player_form" value="Add Player">
        </fieldset>
    </form><br>

    <table id="player_hitting_stats"> <h2>HITTING STATS</h2> 
			<tr id="hitting_stats_header">
				<th>Player Name</th>
				<th>Batting Average</th>
				<th>Hits</th>
                <th>Runs Scored</th>
                <th>RBI</th>
                <th>Home Runs</th>
                <th>Walks</th>
                <th>Strikeouts</th>
			</tr>
			{{#each hittingstats}}
			<tr>
				<td>{{this.first_name}} {{this.last_name}}</td>
				<td>{{this.batting_average}}</td>
				<td>{{this.hits}}</td>
                <td>{{this.runs_scored}}</td>
                <td>{{this.runs_batted_in}}</td>
                <td>{{this.home_runs}}</td>
                <td>{{this.walks}}</td>
                <td>{{this.strikeouts}}</td>		
			</tr>
            {{/each}}
    </table>
    <br>


   <form id="add_hitting_stats_form" method="POST" action="/update-hitting-stats">
     <fieldset>
        <legend>ADD/UPDATE HITTING STATS</legend><br>
        Player Name:
            <select id="add_h_stats_player_id" name="player_id" form="add_hitting_stats_form">
                {{#each players}}
                    <option value={{this.player_id}}>{{this.first_name}} {{this.last_name}}</option>
                {{/each}}
            </select><br>
        Batting Average (&lt;= 1.000):
            <input type="text" id="add_h_stats_batting_average" name="batting_average" form="add_hitting_stats_form"><br>
        Hits:
            <input type="number" id="add_h_stats_hits" name="hits" form="add_hitting_stats_form"><br>
        Runs Scored:
            <input type="number" id="add_h_stats_runs" name="runs_scored" form="add_hitting_stats_form"><br>
        RBI:
            <input type="number" id="add_h_stats_rbi" name="runs_batted_in" form="add_hitting_stats_form"><br>
        Home Runs:
            <input type="number" id="add_h_stats_hr" name="home_runs" form="add_hitting_stats_form"><br>
        Walks:
            <input type="number" id="add_h_stats_walks" name="walks" form="add_hitting_stats_form"><br>
        Strikeouts:
            <input type="number" id="add_h_stats_ks" name="strikeouts" form="add_hitting_stats_form"><br>

            <input type="submit" id="add_hitting_stats_submit" form="add_hitting_stats_form" value="Add/Update Hitting Stats">
        </fieldset>
    </form><br>


    <table id="player_pitching_stats"> <h2>PITCHING STATS</h2> 
			<tr id="pitching_stats_header">
				<th>Player Name</th>
				<th>ERA</th>
				<th>Opp. Batting Average</th>
                <th>Wins</th>
                <th>Losses</th>
                <th>Walks</th>
                <th>Strikeouts</th>
			</tr>
			{{#each pitchingstats}}
			<tr>
				<td>{{this.first_name}} {{this.last_name}}</td>
				<td>{{this.earned_run_average}}</td>
                <td>{{this.opp_batting_average}}</td>
                <td>{{this.wins}}</td>
                <td>{{this.losses}}</td>
                <td>{{this.walks}}</td>
                <td>{{this.strikeouts}}</td>		
			</tr>
            {{/each}}
    </table>
    <br>

    <form id="add_pitching_stats_form" method="POST" action="/update-pitching-stats">
     <fieldset>
        <legend>ADD/UPDATE PITCHING STATS</legend><br>
        Player Name:
            <select id="add_p_stats_player_id" name="player_id" form="add_pitching_stats_form">
                {{#each pitchers}}
                    <option value={{this.player_id}}>{{this.first_name}} {{this.last_name}}</option>
                {{/each}}
            </select> <br>
        ERA:
            <input type="text" id="add_p_stats_ERA" name="earned_run_average" form="add_pitching_stats_form"><br>
        Opp. Batting Average:
            <input type="text" id="add_p_stats_oba" name="opp_batting_average" form="add_pitching_stats_form"><br>
        Wins:
            <input type="number" id="add_p_stats_wins" name="wins" form="add_pitching_stats_form"><br>
        Losses:
            <input type="number" id="add_p_stats_losses" name="losses" form="add_pitching_stats_form"><br>
        Walks:
            <input type="number" id="add_p_stats_walks" name="walks" form="add_pitching_stats_form"><br>
        Strikeouts:
            <input type="number" id="add_p_stats_ks" name="strikeouts" form="add_pitching_stats_form"><br>

            <input type="submit" id="add_pitching_stats_submit" form="add_pitching_stats_form" value="Add/Update Pitching Stats">
        </fieldset>
    </form><br>

    <table id="award"> <h2>AWARDS</h2>
        	<tr id="award_header">
				<th>Award Name</th>                
			</tr>
			{{#each awards}}
			<tr>
				<td>{{this.award_name}}</td>
			</tr>
			{{/each}}
    </table>
    <br>
    <form id="add_award_form" method="POST" action="/insert-award">
    <fieldset>
        <legend>ADD AWARD</legend><br>
        Award Name: <input type="text" id="award_name" name="award_name" value="Fun Guy">
        <input type="submit" id="add_award_form_submit" form="add_award_form" value="Add Award">
    </fieldset>
    </form><br>

    
    <table id="player_awards_table"> <h2>PLAYER AWARDS</h2>
        	<tr id="player_awards_header">
                <th>Player Name</th>
				<th>League</th>
                <th>Award Name</th>
                <th>Year</th>
                <th></th>
			</tr>
			{{#each playerawards}}
			<tr>
                <td>{{this.first_name}} {{this.last_name}}</td>
                <td>{{this.league}}</td>
				<td>{{this.award_name}}</td>
                <td>{{this.year}}</td>
                <td>
                    <form id="delete_player_award_{{this.player_id}}_{{this.award_id}}_{{this.year}}" method="POST" action="/delete-player-award">
                        <input type="submit" form="delete_player_award_{{this.player_id}}_{{this.award_id}}_{{this.year}}" id="delete_player_award_submit_{{this.player_id}}_{{this.award_id}}_{{this.year}}" value="Delete Player Award">
                        <input type="hidden" name="player_id" value={{this.player_id}}>
                        <input type="hidden" name="award_id" value={{this.award_id}}>
                        <input type="hidden" name="league" value={{this.league}}>
                        <input type="hidden" name="year" value={{this.year}}>
                    </form>
                </td>
			</tr>
            {{/each}}
    </table>
    <br>

    <form id="add_player_award_form" method="POST" action="/insert-player-award">
    <fieldset>
        <legend>ADD PLAYER AWARD</legend><br>
        Player Name:
            <select id="add_player_award_player_name" form="add_player_award_form" name="player_id">
                {{#each players}}
                <option value={{this.player_id}}>{{this.first_name}} {{this.last_name}}</option>
                {{/each}}
            </select>
        Award Name: 
            <select id="add_player_award_award_name" form="add_player_award_form" name="award_id">
                {{#each awards}}
                <option value={{this.award_id}}>{{this.award_name}}</option>
                {{/each}}
            </select>
        League: 
            <select id="add_player_award_league" form="add_player_award_form" name="league">
                <option value='AL'>American League</option>
                <option value='NL'>National League</option>
            </select>
        Year: 
            <select id="add_player_award_year" form="add_player_award_form" name="year">
                <option value=2017>2017</option>
                <option value=2016>2016</option>
                <option value=2015>2015</option>
                <option value=2014>2014</option>
                <option value=2013>2013</option>
                <option value=2012>2012</option>
                <option value=2011>2011</option>
                <option value=2010>2010</option>
                <option value=2009>2009</option>
                <option value=2008>2008</option>
                <option value=2007>2007</option>
                <option value=2006>2006</option>
                <option value=2005>2005</option>
                <option value=2004>2004</option>
                <option value=2003>2003</option>
                <option value=2002>2002</option>
                <option value=2001>2001</option>
                <option value=2000>2000</option>
                <option value=1999>1999</option>
                <option value=1998>1998</option>
                <option value=1997>1997</option>
                <option value=1996>1996</option>
                <option value=1995>1995</option>
                <option value=1994>1994</option>
                <option value=1993>1993</option>
                <option value=1992>1992</option>
                <option value=1991>1991</option>
                <option value=1990>1990</option>
                <option value=1989>1989</option>
                <option value=1988>1988</option>
                <option value=1987>1987</option>
                <option value=1986>1986</option>
                <option value=1985>1985</option>
                <option value=1984>1984</option>
                <option value=1983>1983</option>
                <option value=1982>1982</option>
                <option value=1981>1981</option>
                <option value=1980>1980</option>
                <option value=1979>1979</option>
                <option value=1978>1978</option>
                <option value=1977>1977</option>
                <option value=1976>1976</option>
                <option value=1975>1975</option>
                <option value=1974>1974</option>
                <option value=1973>1973</option>
                <option value=1972>1972</option>
                <option value=1971>1971</option>
                <option value=1970>1970</option>
                <option value=1969>1969</option>
                <option value=1968>1968</option>
                <option value=1967>1967</option>
                <option value=1966>1966</option>
                <option value=1965>1965</option>
                <option value=1964>1964</option>
                <option value=1963>1963</option>
                <option value=1962>1962</option>
                <option value=1961>1961</option>
                <option value=1960>1960</option>
                <option value=1959>1959</option>
                <option value=1958>1958</option>
                <option value=1957>1957</option>
                <option value=1956>1956</option>
                <option value=1955>1955</option>
                <option value=1954>1954</option>
                <option value=1953>1953</option>
                <option value=1952>1952</option>
                <option value=1951>1951</option>
                <option value=1950>1950</option>
                <option value=1949>1949</option>
                <option value=1948>1948</option>
                <option value=1947>1947</option>
                <option value=1946>1946</option>
                <option value=1945>1945</option>
                <option value=1944>1944</option>
                <option value=1943>1943</option>
                <option value=1942>1942</option>
                <option value=1941>1941</option>
                <option value=1940>1940</option>
                <option value=1939>1939</option>
                <option value=1938>1938</option>
                <option value=1937>1937</option>
                <option value=1936>1936</option>
                <option value=1935>1935</option>
                <option value=1934>1934</option>
                <option value=1933>1933</option>
                <option value=1932>1932</option>
                <option value=1931>1931</option>
                <option value=1930>1930</option>
                <option value=1929>1929</option>
                <option value=1928>1928</option>
                <option value=1927>1927</option>
                <option value=1926>1926</option>
                <option value=1925>1925</option>
                <option value=1924>1924</option>
                <option value=1923>1923</option>
                <option value=1922>1922</option>
                <option value=1921>1921</option>
                <option value=1920>1920</option>
                <option value=1919>1919</option>
                <option value=1918>1918</option>
                <option value=1917>1917</option>
                <option value=1916>1916</option>
                <option value=1915>1915</option>
                <option value=1914>1914</option>
                <option value=1913>1913</option>
                <option value=1912>1912</option>
                <option value=1911>1911</option>
                <option value=1910>1910</option>
                <option value=1909>1909</option>
                <option value=1908>1908</option>
                <option value=1907>1907</option>
                <option value=1906>1906</option>
                <option value=1905>1905</option>
                <option value=1904>1904</option>
                <option value=1903>1903</option>
                <option value=1902>1902</option>
                <option value=1901>1901</option>
                <option value=1900>1900</option>
            </select>
            <input type="submit" id="add_player_award_form_submit" form="add_player_award_form" value="Add Player Award">
    </fieldset>
    </form><br>

</body>

<script src="/manageDatabaseMLB.js"></script>


